.pagination-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  -webkit-user-select: none;
  user-select: none;

  .number_a {
    font-size: var(--text-fontSize);
    cursor: pointer;
    padding: 2rem;
    color: var(--gray-color);
  }

  .active {
    width: 4rem;
    height: 4rem;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    a {
      color: #000;
    }
  }

  .button_next {
    width: 12rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-color);
    border-radius: 1rem;
    font-size: var(--text-fontSize);
    cursor: pointer;

    &:hover {
      transform: scale(1.1, 1.1);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        font-weight: 600;
        span {
          margin-right: 4px;
        }
      }
    }
  }

  .button_previous {
    width: 12rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-color);
    border-radius: 1rem;
    font-size: var(--text-fontSize);
    cursor: pointer;

    &:hover {
      transform: scale(1.1, 1.1);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        font-weight: 600;
        span {
          margin-left: 4px;
        }
      }
    }
  }

  .break {
    font-size: var(--text-fontSize);
  }
}

.hide-pagination {
  display: none !important;
}
