.header-container {
  width: 100%;
  height: 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  position: fixed;
  z-index: 999;

  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);

  .drop-down-menu {
    font-size: var(--small-fontSize);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    width: 22rem;
    background-color: #fff;

    .product-type-wrapper {
      display: block;
      padding: 1.5rem 2rem;

      &:hover {
        color: var(--primary-color);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      p {
        font-size: var(--text-fontSize);
        font-weight: 600;
      }
    }
  }

  .drop-down-product {
    cursor: pointer;
    padding: 2rem 0px;

    .text {
      font-size: 2rem;
      color: #000;
      font-weight: 600;
    }

    .icon {
      font-size: 2rem;
      color: #000;
      margin-left: 1rem;
    }

    .is-tippy-on {
      color: var(--primary-color);
      transition: color 0.3s;
    }
  }
  .btn-sale-off {
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    &:hover {
      cursor: pointer;
      color: var(--primary-color);
      transition: color 0.3s;
    }
  }

  .header-wrap-cart-actions {
    display: flex;
    align-items: center;
    gap: 28px;

    .header-cart {
      position: relative;
      padding: 5px 8px;
      border-radius: 10px;
      cursor: pointer;

      .header-cart-notification {
        position: absolute;
        top: -7px;
        right: -6px;
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background-color: #ff0000;
        color: var(--white-color);
      }

      .header-cart-icon {
        position: relative;
        top: 2px;
        font-size: 4rem;
        color: var(--primary-color);
      }

      &:hover {
        background-color: #f6e0d4;
      }
    }

    .header-actions {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-action-btn {
        color: var(--primary-color);
        font-size: 3rem;
        height: 100%;
        display: flex;
        align-items: center;

        .action-avatar {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 100%;
        }
      }
    }
    .header-action-btn {
      color: var(--primary-color);
      font-size: 3rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .login-btn {
      width: 13rem;
      height: 4rem;

      border-radius: 10rem;
      background: linear-gradient(to right, var(--second-color), #ff3778);
      color: white;
      font-size: var(--small-fontSize);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
