.feedback-container {
  min-height: 60rem;

  .feedback-product {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 20px;
    align-items: center;
    padding: 20px 24px;
    background-color: #f4f3f2;
    border-radius: 14px;

    .feedback-product-img {
      height: 150px;
      width: 150px;
      object-fit: contain;
      margin-right: 20px;
    }
    .feedback-product-content {
      align-self: flex-start;
      .product-size {
        margin: 10px 0;
      }
      .product-price {
        display: flex;
        margin: 10px 0;
      }
      .product-total-price {
        margin-top: 10px;
        color: red;
      }
    }
    .feedback-btn {
      margin-left: auto;
      padding: 15px 20px;
      color: white;
      border-radius: 10px;
      background-color: var(--second-color);
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .no-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background: rgba(0, 0, 0, 0.4);
}
