.edit-feedback-form {
  margin: 0;
  padding: 0;
  textarea {
    font-size: 16px;
    width: 100%;
    min-height: 70px;
    resize: none;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
  }

  .comment-rating {
    font-size: 3.875rem;
    margin: 0 4px 6px 0;
    color: gold;
  }

  .coment-content {
    font-size: var(--text-fontSize);
    border-radius: 5px;
    padding: 10px;
    height: 150px;
    margin-bottom: 0;
  }

  .ctn_send_btn {
    display: flex;
    margin-top: 16px;
    .contain_send_btn {
      margin-left: auto;
      height: 50px;
      width: 100px;
      color: white;
      border-radius: 10px;
      background-color: var(--second-color);

      &:hover {
        background: #f05d40;
      }

      .send_icon_btn {
        font-size: 30px;
      }
    }
  }
}
