.search-container {
  .productWrapper {
    display: block;
    position: relative;
    border: 0.1rem solid var(--gray-color);
    border-radius: 3rem;

    &:hover {
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    }

    .productImg {
      width: 100%;
      height: 450px;
      border-top-right-radius: 3rem;
      border-top-left-radius: 3rem;
      object-fit: contain;
    }

    .favorite {
      position: absolute;
      top: 2rem;
      left: 2rem;

      .icon {
        font-size: 3.5rem;
      }
    }
    .productInfo {
      padding: 0px 20px 20px 20px;
    }

    .productName {
      min-height: 4rem;
      font-size: var(--text-fontSize);
      margin-top: 1rem;
    }

    .productRating {
      font-size: var(--text-fontSize);
      display: flex;
      align-items: center;
      margin-top: 1rem;

      p {
        margin-left: 1rem;
      }
    }

    .productPrice {
      display: flex;
      font-size: var(--text-fontSize);
      color: red;
      margin-top: 1rem;
    }

    .noProduct {
      height: 69%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: large;

      h1 {
        margin-bottom: 2rem;
      }
    }
  }
}
