.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--gray-color);

  .login-content {
    width: 1300px;
    height: 760px;
    border-radius: 5rem;
    display: flex;
    background-color: #fff;

    h1,
    p,
    span,
    input {
      color: #3e334e;
    }

    .login-content-right {
      width: 100%;
      padding: 0 10rem;

      h1 {
        font-size: var(--title-fontSize);
      }

      p {
        font-size: var(--text-fontSize);
      }

      input {
        caret-color: var(--primary-color);
      }

      .logo-wrapper {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        width: 20rem;

        .logo-name {
          margin-left: 2rem;
        }
      }

      .login-form {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form-input-wrapper {
          height: 13rem;

          .form-lable {
            font-size: var(--text-fontSize);
          }

          p {
            color: #bf1650;
          }

          .form-input {
            height: 5.5rem;
            border-radius: 1rem;
            padding: 0 1rem;
            font-size: var(--text-fontSize);
            margin: 1rem 0;
            display: flex;
            border: 1px solid #afa2c3;

            &:focus-within {
              border-color: var(--second-color);
            }

            input {
              border: none;
              flex: 1;
            }
          }

          p::before {
            display: inline;
            content: "⚠ ";
          }
        }
      }

      .login-actions {
        display: flex;
        justify-content: space-between;

        .check-save-btn-wrapper {
          width: 15rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: var(--text-fontSize);

          .check-save-btn {
            width: 1.5rem;
            height: 1.5rem;
            background: linear-gradient(to right, #a03cea, #fb6564);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;

            color: #fff;
            font-size: 1rem;
          }
        }

        .forgot-password-btn {
          color: #3e334e;
          font-size: var(--text-fontSize);
          &:hover {
            text-decoration: underline;
            text-decoration-color: #3e334e;
          }
        }
      }
      .login-auth-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        .login-button,
        .register-button {
          width: 20rem;
          height: 5rem;
          font-size: var(--text-fontSize);
          background: linear-gradient(
            to right,
            var(--second-color),
            var(--primary-color)
          );
          border-radius: 1rem;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .login-auth-social-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        .login-button-facebook,
        .login-button-google {
          width: 21rem;
          height: 4rem;
          font-size: var(--text-fontSize);
          border-radius: 2rem;
          border: 1px solid #afa2c3;
          color: #3e334e;
        }
      }
    }
  }
}
