.introduce-badminton {
  margin-bottom: 100px;
  .introduce-badminton-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .introduce-badminton-header-title {
      font-size: var(--title-fontSize);
      margin: 0;
      font-weight: 600;
    }
    .introduce-badminton-header-more {
      font-size: var(--text-fontSize);
      margin-left: auto;
      font-weight: 500;
      color: var(--primary-color);
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
  .introduce-badminton-item {
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-8px);
    }
    .introduce-badminton-item-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 15px;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
    .favourite-btn {
      position: absolute;
      top: 2rem;
      left: 2rem;

      .favourite-icon {
        font-size: 3.5rem;
      }
    }
    .introduce-badminton-item-name {
      line-height: 1.4;
      min-height: 48px;
      font-size: var(--text-fontSize);
      margin: 24px 0 8px 0;
      font-weight: 600;
    }
    .introduce-badminton-item-rating {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      font-size: var(--text-fontSize);
    }
    .introduce-badminton-item-price {
      display: flex;
      font-size: var(--text-fontSize);
      color: var(--primary-color);
      font-weight: 600;
    }
  }
}
