@import "normalize.css";
@import "~react-toastify/dist/ReactToastify.min.css";

:root {
  --primary-color: #ec3d25;
  --second-color: #f46f25;
  --white-color: white;
  --gray-color: #cccbcb;
  --gray-color-2: #efefef;
  --primary-admin-color: #022e6c;
  --second-admin-color: #2a528a;

  --text-fontSize: 1.8rem;
  --title-fontSize: 3.2rem;
  --small-fontSize: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
  overflow-x: hidden;
}

a,
Link {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input {
  outline: none;
  border: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

// custom scrollbar
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--second-color);
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--second-color);
}
html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
