.css-79ws1d-MuiModal-root {
  display: flex;
}
.modal-content {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 15px;
  width: 25%;
  margin: auto;
  box-shadow: 0 0 10px #666;
  position: relative;

  .modal-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.h3-text {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-size: var(--title-fontSize);
}

.textbox {
  padding: 20px;
  font-size: var(--text-fontSize);
  .wrap-input {
    height: 116px;
    .error {
      color: #bf1650;

      &::before {
        display: inline;
        content: "⚠ ";
      }
    }
  }
}

.changepassword-textbox {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 6px;
  padding: 10px;
  font-size: var(--text-fontSize);
  caret-color: var(--primary-color);
}

.changepassword-textbox:last-child {
  margin-bottom: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.submit_btn {
  text-align: center;

  button {
    font-size: var(--text-fontSize);
    padding: 15px 80px;
    background-image: linear-gradient(
      180deg,
      rgba(235, 37, 36, 0.89) 0%,
      #f46f25 100%
    );
    border-radius: 10px;
    margin-bottom: 20px;
  }
}
