.search {
  width: 45rem;
  height: 4.5rem;
  background-color: #fff;
  padding-left: 2rem;
  border-radius: 10rem;
  border: 0.1rem solid #adadad;
  display: flex;
  align-items: center;
  position: relative;

  &:focus-within {
    border-color: #3e334e;
  }

  input {
    margin-right: 28px;
    font-size: 1.8rem;
    padding: 1rem 0;
    flex: 1;
    height: 100%;
    border: none;
    caret-color: var(--second-color);
  }

  .searchClear {
    position: absolute;
    right: 11%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--second-color);
    font-size: 1.5rem;
  }
  .searchLoading {
    position: absolute;
    right: 11%;
    top: 50%;
    color: var(--second-color);
    font-size: 1.5rem;
    animation: spinner 1s linear infinite;
  }
  .searchBtn {
    font-size: 2rem;
    padding: 0 1rem;
    color: var(--second-color);

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.searchResult {
  text-align: center;
  padding-top: 2rem;

  .search-popular {
    text-align: left;
    padding: 0 2rem;
    .search-popular-title {
      font-size: 2rem;
      font-weight: 700;
    }
    .search-popular-list {
      display: flex;
      flex-wrap: wrap;
      .search-popular-item {
        font-size: var(--text-fontSize);
        padding: 6px 8px;
        background-color: #f5f5f5;
        border-radius: 3px;
        margin-right: 6px;
        margin-bottom: 8px;

        &:hover {
          cursor: pointer;
          color: var(--second-color);
          background-color: #ebeaea;
        }
      }
    }
  }

  .search-more {
    font-size: var(--text-fontSize);
    padding: 0 2rem 1.6rem 2rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: var(--second-color);
    }
  }

  .searchProduct {
    display: flex;
    align-items: center;
    height: 8rem;
    padding: 1rem 2rem;

    &:hover {
      background-color: #f0f0f0;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 6rem;
      width: 100%;
      margin-left: 2rem;

      .searchProductPrice {
        color: red;
      }
    }
  }
}

.dropdownSearch {
  width: 45rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 1rem;
}
