.change-password-container {
  height: 100vh;
  background-color: var(--gray-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .change-password-title {
    font-size: var(--title-fontSize);
    color: #3e334e;
    margin-bottom: 20px;
  }
  .change-password-content {
    display: flex;
    flex-direction: column;
    .change-password-wrap-password {
      height: 10rem;
      margin-bottom: 16px;

      .change-password-label {
        font-size: var(--text-fontSize);
        color: #3e334e;
        margin-bottom: 6px;
      }
      .change-password-password {
        display: flex;
        align-items: center;
        height: 5.3rem;
        width: 40rem;
        padding: 0 1rem;
        border: 1px solid #afa2c3;
        background-color: var(--white-color);
        border-radius: 1rem;
        margin-top: 6px;
        .change-password-input {
          font-size: var(--text-fontSize);
          caret-color: var(--primary-color);
          outline: none;
          border: none;
          flex: 1;
        }

        &:focus-within {
          border-color: var(--second-color);
        }
        .change-password-password-icon {
          font-size: var(--text-fontSize);
          margin-right: 12px;
        }
      }
      .errer {
        margin-top: 6px;
        color: #bf1650;
        font-size: var(--text-fontSize);

        &::before {
          display: inline;
          content: "⚠ ";
        }
      }
      .change-password-icon {
        font-size: var(--text-fontSize);
        opacity: 0.4;
        margin-left: 6px;
        cursor: pointer;
      }
    }

    .change-password-send {
      background-color: var(--second-color);
      font-size: var(--text-fontSize);
      color: #3e334e;
      font-weight: 600;
      padding: 0.8rem;
      height: 5rem;
      width: 14rem;
      margin: auto;
      border-radius: 16px;
    }
  }
}
