.user-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  width: 25rem;

  .userMenuItem {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 0 1rem;
    width: 100%;

    &:hover {
      cursor: pointer;
      .icon {
        color: var(--primary-color);
      }

      .text {
        color: var(--primary-color);
      }
    }

    .icon {
      font-size: 3rem;
      margin-right: 1rem;
    }

    .text {
      font-size: var(--text-fontSize);
    }
  }
}
