.banner-container {
  margin-bottom: 20px;
  .banner-item {
    margin-right: 10px;
    outline: none;
    .banner-item-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
.slick-next:before {
  content: "" !important;
}
.slick-prev:before {
  content: "" !important;
}

.slick-slide > div {
  margin: 0 16px;
}
.slick-list {
  margin: 0 -16px;
  border-radius: 20px;
}
